@import "tailwindcss";
@import "../Panel/Panel.css";

.wallpaper-panel-content{
    background-color: rgba(0, 0, 0, 0.7);
}

.wallpaper-panel-body {
    height: 100%;
}

.wallpaper-panel-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-right: 5px;
    gap: 8px;
    overflow-y: auto;
    height: 95%;
    scroll-snap-type: y mandatory;
}

.wallpaper-item {
    position: relative;
}

.wallpaper-panel-grid img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    aspect-ratio: 1/1;
    pointer-events: auto;
    user-select: none;
    -webkit-user-drag: none;
}

.wallpaper-panel-grid p {
    position: absolute;
    top: 50%;
    left: 50%;
    white-space: nowrap;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 18px;
    opacity: 0;
    margin: 0;
    pointer-events: none;
}

.wallpaper-item p {
    padding: 6px;
    border: 2px solid transparent;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

@media (hover: hover) {
    .wallpaper-panel-grid img:hover {
        cursor: pointer;
        filter: brightness(0.7);
        transition: filter 150ms ease-out;
    }

    .wallpaper-item:active img{
        border: 2px solid white;
        transition: border 50ms ease-out;
    }

    .wallpaper-panel-grid img:hover + p {
        opacity: 1;
        transition: opacity 150ms ease-out;
    }
}