@import "tailwindcss";

nav {
    height: 52px;
    display: flex;
    align-items: center;
    position: relative;
}

.icon-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 0 12px;
    width: 100%;
    position: relative;
}

.nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* center in nav regardless of widgets */
}

.nav-item {
    margin: 2px 0 4px 0;
    padding: 6px;
    border: 2px transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}

.nav-item::after {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(circle at center, rgba(255,255,255,0.1), rgba(255,255,255,0));
    transform: scale(0);
    transform-origin: center;
    transition: transform 150ms ease-out, opacity 150ms ease-out;
    pointer-events: none;
    opacity: 0;
}

.nav-item img {
    width: 32px;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
}

.widgets-area {
    display: flex;
    align-items: center;
    margin-left: auto; /* pin to right */
}

.widget-item {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    line-height: 1;
    margin: 2px 0 4px 0;
    padding: 12px 8px;
    border: 2px transparent;
    border-radius: 4px;
    gap: 7px;
    position: relative;
    overflow: hidden;
}

.widget-item::after {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(circle at center, rgba(255,255,255,0.1), rgba(255,255,255,0));
    transform: scale(0);
    transform-origin: center;
    transition: transform 150ms ease-out, opacity 150ms ease-out;
    pointer-events: none;
    opacity: 0;
}

.widget-item img {
    width: 18px;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3)), invert();
}

.tray {
    position: absolute;
    border: 2px solid transparent;
    border-radius: 9px;
    padding: 2px;
    right: 115px;
    bottom: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
}

.trayButton {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: 10px;
}

@media (hover: hover) {
    .nav-item:hover {
        border-color: var(--foreground);
        cursor: pointer;
    }

    .nav-item:hover::after {
        transform: scale(2.5);
        opacity: 1;
    }

    .widget-item:hover {
        border-color: var(--foreground);
    }

    .widget-item:hover::after {
        transform: scale(2.5);
        opacity: 1;
    }

    .trayButton:hover {
        background-color: rgba(255, 255, 255, 0.075);
        border-radius: 5px;
    }
}