@import "tailwindcss";

.wallpaper-panel-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 24px;
}

.wallpaper-panel-body {
    flex: 1;
    padding: 16px;
}

.wallpaper-panel-header{
    height: 38px;
    width: 100%;
}