@import "tailwindcss";

:root {
--background: url('/images/wallpapers/kjm887zhqjie1.png');
--foreground: #ededed;
}

html {
  height: 100dvh;
}

body {
  height: 100dvh;
  min-height: 100dvh;
  margin: 0;
  background: var(--background);
  background-size: cover;
  background-position: center;
  color: var(--foreground);
  font-family: "Segoe UI Variable", "Segoe UI", Tahoma, "Geneva", Verdana, sans-serif;
  overflow: hidden;
  transition: background 0.5s ease-in-out;
}

.app-shell {
  height: 100dvh;
  display: grid;
  grid-template-rows: 1fr auto;
}

.main-content {
  overflow: auto;
}

nav {
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2e2e2e;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  width: 6px;
}