@import "tailwindcss";

.desktop-content {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.icon-grid {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(auto-fill, 100px);
    grid-auto-columns: 100px;
    gap: 20px;
    padding: 20px;
    height: calc(100vh - 75px);
    align-content: start;
}

.icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon-item-clicked {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px transparent;
    border-radius: 5px;
}

.icon-image {
    width: 64px;
    height: 64px;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
}

.icon-label {
    margin-top: 8px;
    font-size: 12px;
    color: white;
    text-align: center;
    text-shadow: black 2px 2px 4px;
}

.wallpaper-panel,
.project-panel,
.about-me-panel,
.welcome-panel {
    display: none;
    opacity: 0;
}

.wallpaper-panel-active, 
.project-panel-active,
.about-me-panel-active,
.welcome-panel-active {
    display: block;
    position: fixed;
    opacity: 1;
    width: 100vw;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(2px);
}


@media (hover: hover) {
    .icon-item:hover{
        background-color: rgba(255, 255, 255, 0.1);
        border: 2px transparent;
        border-radius: 5px;
    }
}